header,
section,
footer,
aside,
nav,
article,
figure {
	display: block;
}

a {
	color: currentcolor;
}

body {
	font-family: PingFang-SC-Light;

}

.in {
	background: #F7F7F7;
	padding: 0 0 1.306rem;
}

.in-hei {
	height: .373rem;
}

.in-header {
	color: #fff;
	height: 5.45rem;
	background: -webkit-linear-gradient(left, #75A8FC, #4F75DC);
	background: linear-gradient(to right, #75A8FC, #4F75DC);
}

.in-heade-le:before {
	width: .32rem;
	height: .32rem;
	border-left: .04rem solid #ffffff;
	border-bottom: .04rem solid #ffffff;
}

.in-heade {
	background: -webkit-linear-gradient(left, #75A8FC, #4F75DC);
	background: linear-gradient(to right, #75A8FC, #4F75DC);
}

.in-heade-le {
	left: .4rem;
	font-size: .373rem;
}

.in-heade-ri {
	right: .4rem;
	font-size: .45rem;
}

.in-heade h3 {
	font-size: .453rem;
	font-weight: 400;
}

.in-header-box {
	text-align: center;
}

.in-header-box p {
	padding: 1.859rem 0 .45rem;
	font-size: .453rem;
}

.in-header-box a {
	font-size: .373rem;
	border-radius: .08rem;
	background: rgba(255, 255, 255, .9);
	display: inline-block;
	width: 2.339rem;
	color: #4F85F3;
	line-height: 2.17;
}

.in-header-bod {
	text-align: center;
}

.in-header-bod h1 {
	font-weight: 400;
	font-size: .533rem;
	margin: 0;
	padding: 1.053rem 0 .133rem;
}

.in-header-bod h2 {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: .773rem;
	margin: 0;
}

.in-header-bod h2 i {
	width: .426rem;
	height: .252rem;
	margin: 0 0 0 .2rem;
	background: url(../img/Group7@2x.png) no-repeat center;
	background-size: cover;
}

.in-header-bod h2 .active {
	background: url(../img/mm@2x.png) no-repeat center;
	background-size: cover;
}

.in-header-body {
	display: -webkit-flex;
	display: flex;
	padding: .425rem 15px;
}

.in-header-body li {
	flex: 1;
	text-align: center;
	font-size: .346rem;
}

.in-header-body span {
	display: block;
	font-size: .453rem;
}

.in-tit {
	font-size: .346rem;
	color: #4B5366;
	line-height: 2.66;
	text-indent: .4rem;
	border-bottom: 1px solid #E6E6E6;
	display: -webkit-flex;
	display: flex;
}

.in-tit a {
	flex: auto;
	text-align: right;
	color: #B5B5B5;
	padding: 0 .4rem 0 0;
}

.in-tit i {
	color: #C5C5C5;
	font-size: .301rem;
	margin-left: .1rem;
}

.in-ti {
	background: #F7F7F7;
	border: none;
}

.in-cen {
	text-align: center;
	position: relative;
	padding: 0 0 .614rem;
	background: #fff;
}

.in-cen>h1 {
	font-size: .48rem;
	color: #4B5366;
	font-weight: 400;
	padding: .453rem 0;
	margin: 0;
}

.in-cen>a {
	display: inline-block;
	width: 3.465rem;
	font-size: .426rem;
	background: #4F85F3;
	color: #fff;
	line-height: 1.013rem;
	margin: 0 0 .8rem;
	border-radius: .08rem;
}

.in-body {
	background: #fff;
}

.in-cen-box {
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
	width: 90%;
	height: .533rem;
	line-height: .533rem;
}

.in-cen-box span:first-child {
	border: none;
}

.in-cen-box span {
	flex: 1;
	font-size: .373rem;
	color: #B5B5B5;
	border-left: 1px solid #B5B5B5;
}

.in-body-box-a {
	padding: .346rem 0 0;
	margin: 0 .4rem;
	border-bottom: 1px solid #E6E6E6;
}

.in-body-box li:last-child .in-body-box-a {
	border: none;
}

.in-body-box li:last-child .in-body-bot {
	border-bottom: 1px solid #E6E6E6;
}

.in-body-box-b {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 0;
	color: #000;
	transition: all ease .3s;
}

.in-body-box-lef {
	position: relative;
	margin-right: 12px;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: .267rem;
}

.in-body-box-lef img {
	width: 1.199rem;
}

.in-body-box-lef img {
	width: 1.599rem;
}

.in-body-box-cen {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-webkit-align-self: stretch;
	align-self: stretch;
}

.in-body-qz {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-webkit-align-self: stretch;
	align-self: stretch;
}

.in-body-box-cen>div:first-child {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 9px 0;
	-webkit-align-self: stretch;
	align-self: stretch;
	width: 0;
}

.in-body-box-ce>div:first-child {
	padding: 5px 0;
}

.in-body-box-cen>div:last-child {
	overflow: hidden;
}

.in-body-box-cen h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #1C1C1C;
	font-size: .453rem;
	font-weight: 400;
	margin: 0;
}

.in-body-box-cen h4 span {
	font-size: .373rem;
	color: #858585;
	margin: 0 0 0 .267rem;
}

.in-body-box-cen h4 span img {
	width: .429rem;
	height: .48rem;
	margin-left: .117rem;
}

.in-body-box-cen p,
.in-body-qz-p,
.in-body-qz-pp {
	clear: both;
	font-size: .373rem;
	color: #858585;
}

.in-body-qz-pp {
	line-height: 1.5rem;
	font-size: .346rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.in-body-box-cen p span,
.in-body-qz-p span {
	color: #FF2C03;
	font-size: .666rem;
	margin: 0 0 0 1rem;
}

.in-body-qz-p span {
	font-size: .8rem;
	margin: 0;
}

.in-body-box-cen span i,
.in-body-qz-p span i {
	font-size: .4rem;
}

.in-body-box-cen em,
.in-body-qz-p em {
	font-style: normal;
}

.in-body-qz-p em {
	margin: 0 0 0 .8rem;
}

.in-body-box-cen a {
	color: #1E96F2;
	font-size: .4rem;
}

.in-body-box-c {
	font-size: .4rem;
	color: #858585;
	padding: 0 0 .709rem;
}

.in-fot {
	display: block;
	color: #858585;
	font-size: .346rem;
	text-align: center;
	line-height: 3;
}

.in-inpu {
	background: #fff;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
}

.in-input {
	width: 92%;
	border: 1px solid #E6E6E6;
	font-size: .4rem;
	color: #999999;
	margin: .4rem auto;
	line-height: 2.6;
	border-radius: .08rem;
}

.in-input span {
	display: inline-block;
	font-size: .426rem;
	color: #999999 !important;
}

.in-input i {
	font-style: normal;
	margin: 0 0 0 1rem;
}

.in-input input {
	border-radius: .08rem;
	border: none;
	font-size: .4rem;
}

.in-ico:before {
	display: none;
}

.in-box h1,
.in-boa h1 {
	font-size: .373rem;
	color: #989898;
	text-indent: .4rem;
	font-weight: 400;
}

.in-box ul {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	padding: .12rem .4rem .533rem;
	color: #4B5366;
	font-size: .4rem;
	line-height: 2.05;
	overflow: hidden;
}

.in-box li {
	padding: 0 .44rem;
	background: #F5F5F5;
	border-radius: 1.333rem;
	margin-right: .28rem;
	margin-top: .267rem;
}

.in-boa ul {
	padding: 0 .4rem;
	font-size: .4rem;
	color: #4B5366;
	background: #fff;
}

.in-boa li {
	line-height: 3.9;
	border-bottom: 1px solid #E0E0E0;
}

.in-foot {
	background: #fff;
	font-size: .426rem;
	color: #989898;
	line-height: 3.5;
	text-align: center;
}

.in-body-box-rig {
	font-size: .373rem;
	color: #FF5858;
	padding: 0 0 .5rem;
}

.in-body-box-rig span {
	font-size: .8rem;
}

.in-titl a {
	color: #4F85F3;
}

.in-body-fot ul {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	padding: .3rem .4rem .66rem;
	background: #fff;
}

.in-body-fot li {
	position: relative;
	color: #4B5366;
	margin: 0 .2rem 0 0;
	padding: .16rem 0 .32rem;
	width: 2.932rem;
	border-radius: .187rem;
	box-shadow: 0 2px 10px 0 rgba(187, 187, 187, 0.2);
	text-align: center;
}

.in-body-fot h3 {
	font-size: .4rem;
	font-weight: 400;
	margin: 0;
}

.in-body-fot h4 {
	font-size: .346rem;
	font-weight: 400;
}

.in-body-fot p {
	font-size: .293rem;
}

.in-body-fot li span {
	font-size: .32rem;
}

.in-body-fot li i {
	font-size: .2rem;
}

.in-body-fot li:first-child span,
.in-body-fot li:first-child i {
	color: #FF5858;
}

.in-body-fot li:nth-child(2) span,
.in-body-fot li:nth-child(2) i {
	color: #86D236;
}

.in-body-fot li:last-child span,
.in-body-fot li:last-child i {
	color: #FD7373;
}

.in-body-fot li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: .652rem;
	width: .123rem;
	opacity: 0.5;
	border-top-left-radius: .187rem;
	border-bottom-right-radius: .187rem;
}

.in-body-fot li:first-child:before {
	background: #FD7373;
}

.in-body-fot li:nth-child(2):before {
	background: #FF9A00;
}

.in-body-fot li:last-child:before {
	background: #75A2FC;
}

.in-for {
	text-indent: .4rem;
	font-size: .346rem;
	color: #989898;
	letter-spacing: 0;
	background: #F7F7F7;
	line-height: 1.6;
}


/*折状图*/

.in-chart {
	padding: 0 0 .4rem;
	background: #fff;
}

#container {
	padding: 0 .4rem;
	height: 3.26rem;
}


/*折状图*/

.in-foote {
	background: #fff;
	margin: .267rem 0 0;
	padding: 0 .4rem;
}

.in-foote h1 {
	font-weight: 400;
	color: #1C1C1C;
	font-size: .426rem;
	padding: .261rem 0 .373rem;
	margin: 0;
}

.in-foote>div {
	position: relative;
	height: 2.665rem;
	line-height: 2.665rem;
	border-radius: .1rem;
	font-size: .506rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
	/*background-image: linear-gradient(-56deg, #2232E1 20%, #4B02AD 100%);*/
	background-image: linear-gradient(-41deg, #2232E1 37%, #4B02AD 100%);
	opacity: 0.7;
}

.in-foote>div div:first-child {
	position: absolute;
	left: -.693rem;
	top: -.626rem;
	border-radius: 100%;
	width: 1.386rem;
	height: 1.386rem;
	opacity: 0.5;
	background: #4257FD;
}

.in-foote>div div:nth-child(2) {
	position: absolute;
	left: -.406rem;
	bottom: -.902rem;
	border-radius: 100%;
	width: 1.866rem;
	height: 1.866rem;
	opacity: 0.6;
	background: #4257FD;
}

.in-foote>div div:nth-child(3) {
	position: absolute;
	left: 1.133rem;
	bottom: -1.466rem;
	border-radius: 100%;
	width: 2.932rem;
	height: 2.932rem;
	opacity: 0.3;
	background: #4257FD;
}

.in-foote>div div:last-child {
	position: absolute;
	right: -2.1055rem;
	top: -2.5rem;
	border-radius: 100%;
	width: 4.211rem;
	height: 4.211rem;
	opacity: 0.7;
	background: #4257FD;
}

.in-foote a {
	display: block;
	text-align: center;
	color: #4F85F3;
	font-size: .373rem;
	padding: .373rem 0 .173rem;
}

.in-conter {
	background: #fff;
}

.in-conter-box {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: .4rem .4rem 0;
	color: #4B5366;
	font-size: .373rem;
	overflow: hidden;
	text-align: center;
	align-content: flex-start;
}

.in-conter-box li,
.in-conter-box div {
	flex: 0 20%;
	padding: 0 0 .533rem;
	position: relative;
}

.in-conter-box figure {
	line-height: 2.2;
	margin: 0;
}

.in-conter-box li img {
	width: 1.199rem;
	height: 1.199rem;
	border-radius: 100%;
}

.in-conter-box .active:before {
	content: '圈主';
	display: block;
	position: absolute;
	top: -.053rem;
	right: 1%;
	width: .704rem;
	line-height: 1.6;
	transform: rotate(30deg);
	font-family: PingFang-SC-Light;
	font-size: .293rem;
	color: #FFFFFF;
	background: #FD7373;
	opacity: .7;
	border-radius: .1rem;
}

.in-conter-a {
	display: block;
	font-size: .373rem;
	color: #989898;
	text-align: center;
	padding: 0 0 .3rem;
}

.in-chartr-p {
	padding: .373rem .4rem 0;
	text-align: right;
	font-size: .346rem;
	color: #989898;
}

.in-chartr-p:first-letter {
	color: #FF6A00;
	font-size: .3rem;
	margin: 0 .1rem 0 0;
}

.in-tiny {
	position: relative;
	margin: .227rem .4rem .5rem;
	padding-left: .5rem;
}

.in-tiny:before {
	content: '';
	position: absolute;
	left: 0;
	top: 23%;
	width: .267rem;
	height: .267rem;
	background: url(../img/tongyi@2x.png) no-repeat;
	background-size: cover;
}

.in-tiny a span {
	color: #4F85F3;
}

.in-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 1.306rem;
	line-height: 1.306rem;
	background: #fff;
	text-align: center;
}

.in-fot-bo {
	color: #4F85F3;
	font-size: .453rem;
	border-top: .027rem solid #E6E6E6;
}

.in-body-box-b .active:before {
	content: '∨';
	position: absolute;
	bottom: 0;
	right: 4%;
	width: .346rem;
	height: .346rem;
	border-radius: 100%;
	text-align: center;
	line-height: .346rem;
	color: #fff;
	background: #FF2C03;
	font-weight: 700;
	font-size: .293rem;
}

.in-wd {
	background: #fff;
	padding: 0 0 .533rem;
}

.in-wd h1 {
	font-size: .373rem;
	color: #4B5366;
	text-align: center;
	padding: .209rem 0 .191rem;
}

.in-wd p {
	font-size: .506rem;
	position: relative;
	z-index: 1;
	line-height: .706rem;
	padding: .386rem 0 .052rem;
}

.in-wd span {
	position: relative;
	z-index: 1;
	display: block;
	line-height: 1.5;
	font-size: .346rem;
	opacity: 0.6;
}

.in-wd .in-foote>div {
	width: 70%;
	height: 1.972rem;
	margin: 0 auto;
	background: #5B6DFF;
	opacity: .7;
}

.in-fot-bo ul {
	display: -webkit-flex;
	display: flex;
}

.in-fot-bo ul li {
	position: relative;
	width: 50%;
	font-size: .4rem;
	color: #4F85F3;
}

.in-fot-bo .active:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -.2rem;
	width: .013rem;
	height: .4rem;
	background: #4F85F3;
}

.in-footer-a {
	font-size: .386rem;
}

.in-fot-bo ul li i {
	font-size: .386rem;
	margin-right: .345rem;
}

.in-fot-bo .active:first-child span {
	color: #FF5858;
}

#cor {
	-webkit-user-select: auto;
}

.in-up,
.in-no {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	color: #fff;
	font-size: .453rem;
	text-align: center;
	border-radius: .213rem;
	background: rgba(0, 0, 0, .7);
	width: 5.517rem;
	height: 1.173rem;
	line-height: 1.173rem;
	display: none;
	animation: in-up 3s 1;
}

.in-no {
	width: 3.038rem;
}

@keyframes in-up {
	from {
		opacity: 0;
		transform: scale(0);
	}
	20% {
		opacity: 1;
		transform: scale(1)
	}
	60% {
		opacity: 1;
		transform: scale(1)
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}

.in-delete {
	font-size: .373rem;
	color: #B5B5B5;
	padding: 0 .4rem;
	height: 1.999rem;
	background: #fff;
	line-height: 1.999rem;
}

.in-delet {
	height: 100%;
	border-bottom: 1px solid #E6E6E6;
}

.in-add li span {
	position: absolute;
	right: 14%;
	top: 0;
	width: .346rem;
	height: .346rem;
	border-radius: 100%;
	background: #FFFFFF;
	border: 1px solid #C5C5C5;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.in-add .in-add-a span {
	background: #FD7373;
	border: none;
}

.in-add .in-add-a span:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: #fff;
	width: 70%;
	height: .027rem;
}

.in-dele,
.in-head {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.in-dele .in-delete-box {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 81%;
	height: 100%;
	overflow: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.in-dele .in-delete-box img {
	display: block;
	margin: 0 .87rem 0 0;
	width: 1.199rem;
	height: 1.199rem;
	border-radius: 100%;
}

.in-bottom,
.in-footer-btn {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	display: none;
	animation: in-bo .5s 1;
}

@keyframes in-bo {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.in-bottom>div,
.in-footer-btn>div {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: #fff;
}

.in-bottom-dele p {
	padding: .813rem .7rem;
	line-height: .613rem;
}

.in-bottom-dele {
	text-align: center;
	width: 7.996rem;
	height: 3.998rem;
	border-radius: .4rem;
	font-size: .453rem;
	color: #666666;
	letter-spacing: -0.46px;
}

.in-bottom-dele ul,
.in-bottom-back-btn,
.in-footer-b,
.in-footer-c {
	border-top: 1px solid #E6E6E6;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	height: 1.173rem;
	line-height: 1.173rem;
}

.in-bottom-dele ul li,
.in-bottom-back-btn li,
.in-footer-b li,
.in-footer-c li {
	position: relative;
	width: 50%;
	font-size: .4rem;
	color: #4F85F3;
}

.in-bottom-dele .active,
.in-bottom-back-btn .active,
.in-footer-b .active {
	color: #999999;
}

.in-bottom-dele .active:before,
.in-bottom-back-btn .active:before,
.in-footer-b .active:before,
.in-footer-c .active:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -.2rem;
	width: .013rem;
	height: .4rem;
	background: #4F85F3;
}

.in-footer-x {
	position: absolute;
	right: 6.3%;
	top: 9.3%;
	color: #E6E6E6;
	font-style: normal;
	font-size: .4rem;
}

.in-fot-back {
	font-size: .453rem;
	color: #1E96F2;
}

.in-bottom-back {
	width: 80%;
	height: 5.997rem;
	color: #4B5366;
	border-radius: .16rem;
}

.in-bottom-back-tie {
	font-size: .613rem;
	letter-spacing: 0;
	text-align: center;
	height: 1.542rem;
	line-height: 1.542rem;
}

.in-bottom-back-pr {
	height: 1.333rem;
	line-height: 1.333rem;
	font-size: .4rem;
	display: flex;
	padding: 0 .4rem;
	margin: 0 .4rem .79rem;
	background: #F6F6F6;
	border-radius: .133rem;
}

.in-bottom-back-p {
	font-size: .453rem;
	border-bottom: 1px solid #E6E6E6;
	height: 1.199rem;
	line-height: 1.199rem;
	margin: 0;
	border-radius: 0;
	text-align: center;
}

.in-bottom-p {
	text-align: center;
	padding: 0 .253rem;
	margin: 0;
	border-radius: 0;
	border: none;
	font-size: .373rem;
}

.in-bottom-back-po {
	margin: 0;
	border: none;
	border-radius: 0;
}

.in-bottom-p {
	height: 1.533rem;
	line-height: 1.533rem;
	border: none;
}

.in-fxj {
	overflow: hidden;
	border-radius: .133rem;
	margin: 0 .4rem;
}

.in-bottom-back-pr input {
	border: none;
	outline: none;
	flex: auto;
	width: 40%;
	background: initial;
}

.in-bottom-back-po:first-child input {
	border-bottom: 1px solid #E6E6E6;
}

.in-bottom-back-pr a {
	text-align: right;
	flex: auto;
	color: #4F85F3;
}

.in-bottom-dele .active {
	color: #BFBEBE;
}

.in-bottom-back-btn {
	font-size: .4rem;
	border-top: 1px solid #E6E6E6;
	text-align: center;
}

.in-bottom-back-pr input::-webkit-input-placeholder {
	color: #989898;
	;
}

.in-eng {
	width: 6.93rem;
	height: 4.398rem;
	border-radius: .4rem;
	text-align: center;
}

.in-eng p {
	font-size: .4rem;
	color: #333333;
	letter-spacing: -0.41px;
	padding: .9rem 0 .36rem;
}

.in-eng span {
	display: block;
	font-size: .373rem;
	color: #999999;
	letter-spacing: -0.38px;
	padding: 0 0 .8rem;
}

.in-eng h3 {
	margin: 0;
	height: 1.173rem;
	line-height: 1.173rem;
	font-weight: 500;
	border-top: 1px solid #E6E6E6;
	font-size: .4rem;
	color: #0076FF;
	letter-spacing: -0.51px;
}

.in-heade-bot {
	height: 1.346rem;
}

.in-can {
	background: #fff;
}

.in-gr {
	position: relative;
	height: 3.198rem;
}

.in-gr>div {
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: -.866rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 6;
	width: 8.262rem;
	height: 3.198rem;
	padding: .64rem .533rem .693rem;
	background: #FFFFFF;
	box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10);
	border-radius: .213rem;
	-webkit-align-items: center;
	align-items: center;
	font-size: .426rem;
	color: #6A6A6A;
}

.in-gr>div img {
	width: 1.866rem;
	height: 1.866rem;
	margin: 0 .453rem 0 0;
}

.in-gr>div span {
	font-size: .373rem;
	color: #989898;
}

.in-grz {
	padding: 0 0 0 .866rem;
}

.in-grz li,
.in-grz li>div,
.in-qz li,
.in-sp li,
.in-syg li {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: 1.333rem;
	font-size: .373rem;
	color: #4B5366;
}

.in-grz li>div {
	flex: auto;
	border-bottom: 1px solid #E0E0E0;
	padding-right: .404rem;
}

.in-grz span {
	font-size: .5rem;
	color: #4F85F3;
	margin-right: .462rem;
}

.in-grz img {
	width: .5rem;
	height: .5rem;
}

.in-grz label {
	margin-right: .813rem;
}

.in-grz i {
	color: #C5C5C5;
}

.in-grz input,
.in-qz input {
	font-size: .373rem;
	outline: none;
	border: none;
	flex: auto;
}

.in-grz input::-webkit-input-placeholder {
	color: #B5B5B5;
}

.in-grz input::-moz-placeholder {
	color: #B5B5B5;
}

.in-grz input::-ms-placeholder {
	color: #B5B5B5;
}

.in-grz li:last-child>div,
.in-qz li:last-child,
.in-sp li:last-child,
.in-syg li:last-child {
	border-bottom: none;
}

.in-gr-for {
	background: inherit;
	height: 2.332rem;
}

.in-gr-for a {
	display: block;
	width: 8.262rem;
	height: 1.066rem;
	line-height: 1.066rem;
	background: #4C82F6;
	border-radius: .16rem;
	font-size: .4rem;
	color: #fff;
	margin: 0 auto;
}

.in-gr-for span {
	width: 8.262rem;
	margin: 0 auto;
	display: block;
	font-size: .373rem;
	color: #C5C5C5;
	text-align: left;
}

.in-bottom-sq {
	width: 7.996rem;
	height: 3.988rem;
}

.in-bottom-sq p {
	font-size: .453rem;
	color: #4B5366;
	letter-spacing: -0.46px;
	line-height: .453rem;
	padding: .833rem 0 .213rem;
}

.in-bottom-sq span {
	font-size: .4rem;
	color: #989898;
	letter-spacing: -0.41px;
	padding: 0 0 .713rem;
}

.in-qz {
	margin-top: .267rem;
	padding: 0 .4rem;
	background: #fff;
}

.in-qz li {
	height: 1.466rem;
	border-bottom: 1px solid #E6E6E6;
}

.in-qz input::-webkit-input-placeholder {
	color: #BFBEBE;
}

.in-qz input::-moz-placeholder {
	color: #BFBEBE;
}

.in-qz input::-ms-placeholder {
	color: #BFBEBE;
}

.in-qz label {
	margin-right: .4rem;
}

.in-qz i {
	color: #B5B5B5;
}

.in-footer-qz {
	height: 1.066rem;
	bottom: 27%;
}

.in-footer-qz a {
	background: #b3c8f6;
}

.in-footer-qz .active {
	background: #4C82F6;
	transition: all .6s;
}

.in-sp li,
.in-syg li {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.in-sp figure {
	margin: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.in-sp label,
.in-footer-sp label {
	width: .4rem;
	height: .4rem;
	margin-right: .4rem;
	background: url(../img/OvalCopy4@2x.png) no-repeat center;
	background-size: 100%;
}

.in-sp .active,
.in-footer-sp .active {
	background: url(../img/Group@2x.png) no-repeat center;
	background-size: 100%;
}

.in-sp img {
	width: 1.199rem;
	height: 1.199rem;
	border-radius: 100%;
	margin-right: .4rem;
}

.in-sp {
	background: #fff;
}

.in-sp li {
	height: 1.732rem;
	border-bottom: 1px solid #E6E6E6;
	padding: 0 .4rem;
}

.in-sp div {
	text-align: right;
	font-size: .346rem;
	color: #C5C5C5;
}

.in-sp figcaption {
	font-size: .426rem;
}

.in-footer-sp {
	display: -webkit-flex;
	display: flex;
	font-size: .4rem;
	color: #fff;
}

.in-footer-sp figure {
	flex: auto;
	margin: 0 0 0 .4rem;
	color: #4B5366;
	font-size: .373rem;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.in-footer-sp span {
	flex: 1;
	background: #FD7373;
}

.in-footer-sp span:last-child {
	background: #86D236;
}

.in-footer-sp label {
	margin-right: .4rem;
}

.in-sq-head {
	font-size: .373rem;
}

.in-spjl div {
	color: #989898;
	font-size: .373rem;
}

.in-heade-yq,
.in-heade-yqjl li,
.in-fx-ig ul {
	color: #4B5366;
	font-size: .4rem;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	height: 1.466rem;
	padding: 0 .666rem;
	background: #fff;
	border-bottom: 1px solid #E6E6E6;
}

.in-heade-yq li,
.in-heade-yqjl span {
	flex: 1;
}

.in-heade-yqjl li {
	height: 1.139rem;
	border-bottom: none;
	font-size: .373rem;
	color: #989898;
}

.in-heade-yqjl {
	padding: .267rem 0;
	background: #fff;
}

.in-fx {
	background: #fff;
	margin: 0 0 .267rem;
	color: #666666;
	font-size: .373rem;
}

.in-fxxq {
	text-align: center;
	padding: .453rem 0 .426rem;
}

.in-fxxq p {
	font-size: .48rem;
}

.in-fxx {
	height: 5.264rem;
}

.in-fxx h3 {
	font-size: .267rem;
	font-weight: 500;
	margin: 0;
	padding: .386rem .4rem .1rem;
	color: #666;
}

.in-fxx ul {
	position: relative;
	width: 7.769rem;
	height: 3.053rem;
	margin-left: .546rem;
	border-left: .027rem solid #1E96F2;
	border-bottom: .027rem solid #1E96F2;
}

.in-fxx li {
	position: absolute;
	bottom: 0;
	width: 1.8rem;
	background-image: linear-gradient(0deg, #FFFFFF 0%, #9FD5FA 98%);
	border: .053rem solid #1495EB;
	border-bottom: none;
}

.in-fxx li:first-child {
	left: .413rem;
	animation: in-fxb 1s ease-in 1 forwards;
}

.in-fxx li:nth-child(2) {
	left: 3.152rem;
	animation: in-fxa 1s ease-in 1 forwards;
}

.in-fxx li:nth-child(3) {
	right: .2rem;
	animation: in-fx 1s ease-in 1 forwards;
	border-right: none;
}

@keyframes in-fx {
	from {
		height: 0;
	}
	to {
		height: 100%;
	}
}

@keyframes in-fxa {
	from {
		height: 0;
	}
	to {
		height: 70%;
	}
}

@keyframes in-fxb {
	from {
		height: 0;
	}
	to {
		height: 40%;
	}
}

.in-fxx ul:before,
.in-fxx ul:after {
	content: '';
	position: absolute;
	background: #1495EB;
	width: .053rem;
	height: .25rem;
	transform: rotate(45deg);
}

.in-fxx ul:before {
	top: -1%;
	left: -1.7%;
}

.in-fxx ul:after {
	transform: rotate(45deg);
	bottom: -7.5%;
	right: 1%;
}

.in-fxx ul h4 {
	position: absolute;
	bottom: -13%;
	right: -16%;
	font-size: .267rem;
	font-weight: 500;
}

.in-fxx span {
	position: absolute;
	top: -.68rem;
	color: #FF8871;
	width: 100%;
	text-align: center;
}

.in-fxx p {
	position: absolute;
	bottom: -.8rem;
	color: #1E96F2;
	width: 100%;
	text-align: center;
}

.in-fx-box h3 {
	font-weight: 500;
	margin: 0;
	padding: .213rem .533rem;
	border-bottom: 1px solid #E6E6E6;
}

.in-fx-box span,
.in-fx-p p {
	display: block;
	text-indent: .8rem;
	padding: .267rem .533rem .92rem;
}

.in-fx-p p {
	padding: .267rem .533rem;
}

.in-fx-ig ul {
	height: auto;
	padding: .973rem .4rem .92rem;
	border: none;
}

.in-fx-ig img {
	width: 1.066rem;
	height: 1.013rem;
	border-radius: .08rem;
	margin-bottom: .307rem;
}

.in-fx-ig li {
	flex: 1;
	text-align: center;
	position: relative;
}

.in-fx-ig li:first-child:before,
.in-fx-ig li:nth-child(2):before {
	content: '';
	position: absolute;
	right: -.7rem;
	top: 23%;
	width: 1.367rem;
	height: .092rem;
	background: url(../img/Path8.png) no-repeat center;
	background-size: cover;
}

.in-syg {
	padding: 0 .4rem;
	background: #fff;
	margin-top: .267rem;
}

.in-syg li {
	height: 1.493rem;
	border-bottom: 1px solid #E0E0E0;
}

.in-syg li span {
	color: #333333;
	font-size: .426rem;
}

.in-syg li h3 {
	font-weight: 500;
	font-size: .426rem;
	color: #000;
}

.in-p p {
	padding: .813rem .64rem .76rem;
	line-height: .613rem;
}

.in-head {
	-webkit-align-items: center;
	align-items: center;
	padding: .4rem;
}

.in-head a {
	display: block;
	font-size: .373rem;
	color: #4F85F3;
	padding: .1rem .24rem;
	border: .027rem solid #4F85F3;
	border-radius: .133rem;
}

.in-head img {
	display: block;
	width: 43.1%;
}

.in-footer-fx {
	font-size: .453rem;
	color: #fff;
	opacity: 0.9;
	background: #4F85F3;
	box-shadow: 0 -10px 13px 0 rgba(213, 213, 213, 0.14);
}

.in-header-a {
	text-align: center;
	width: 88.9%;
	margin: 1.519rem auto 0;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.20);
	border-radius: .053rem;
}

.in-header-b {
	position: relative;
	width: 80.1%;
	margin: 0 auto;
	border-bottom: .027rem dashed #E6E6E6;
}

.in-header-b h3 {
	font-size: .4rem;
	color: #4B5366;
	padding: .35rem 0 .15rem;
	margin: 0;
	font-weight: normal;
}

.in-header-b p {
	font-size: .373rem;
	color: #4F85F3;
	padding-bottom: .35rem;
}

.in-header-b:before,
.in-header-b:after {
	content: '';
	position: absolute;
	bottom: -.16rem;
	width: .35rem;
	height: .35rem;
	border-radius: 100%;
	background: #F7F7F7;
	background-size: cover;
}

.in-header-b:before {
	left: -15%;
	background: url(../img/ra.png) no-repeat center;
}

.in-header-b:after {
	right: -14.5%;
	background: url(../img/ra1-1.png) no-repeat center;
}

.in-header-c {
	position: relative;
	width: 6.583rem;
	height: 6.583rem;
	margin: 1.186rem auto 1.479rem;
}

.in-header-im,
.in-header-ig {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.in-header-im {
	width: 100%;
	height: 100%;
}

.in-header-ig {
	width: 1.6rem;
	height: 1.6rem;
	z-index: 1;
	border-radius: 100%;
}

.in-header-d img {
	width: 2.665rem;
	height: .437rem;
}

.in-header-d p {
	position: relative;
	width: 80.1%;
	margin: .229rem auto 0;
	padding-bottom: 1rem;
	font-size: .32rem;
	color: #989898;
}

.in-header-d span {
	position: absolute;
	z-index: 2;
	width: 60%;
	left: 0;
	right: 0;
	margin: auto;
	background: #fff;
}

.in-header-d p:before {
	content: '';
	position: absolute;
	left: 0;
	top: .25rem;
	width: 100%;
	height: .027rem;
	border-bottom: .027rem dashed #E6E6E6;
}